<div class="container mt-3">
    <div class="card p-3 m-5">
        <div class="card-title">
            <h2>Bidder Welcome</h2>
        </div>
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Crop Type</th>
                    <th scope="col">Crop Name</th>
                    <th scope="col">Base Price</th>
                    <th scope="col">Current Bid</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                </tr>
                <tr>

                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex ">
        <div class="col-md-3 mx-auto">
            <label class="form-label">Bid Amount</label>
            <input type="number" class="form-control" placeholder="Bid Amount"><br>
            <button class="btn btn-success">Confirm</button>
        </div>
    </div>
</div>
